.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.max-words {
  max-width: 35em;
}

.mb {
  margin-bottom: 1em;
}

.text-light {
  color: var(--gray-400);
}

.text-underline {
  display: inline-block;
  border-bottom: 2px solid var(--primary-500);
}

.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(79, 192, 141, 0.5);
}

.link:hover::after {
  top: 0%;
}
